.gallery {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}
.gallery-item:hover,
.gallery-item:focus {
  scale: 1.1;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
